/* History.css */
  
  .rightSideBarDiv {
    flex: 3;
    background-color: #f2f2f2;
    padding: 10px;
    overflow-y: scroll;
  }
  
  .welcomeDiv {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .transactionHistiorDiv {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .rectangleTransactionDiv {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .dateDiv {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .TodayDiv {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .historyDivMain {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cardItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .round01Div {
    width: 30px;
    height: 30px;
    background-color: #4caf50;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .wordsDiv {
    flex: 1;
  }
  
  .amountDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }